* {
    padding: 0%;
    margin: 0%;
    background-color: aquamarine;
}

h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    font-size: 30px;
}

.box {
    background-color:black;
    height: 410px;
    width: 500px;
    border: 1px solid black;
    margin: 10% 30%;
}

#button {
       width: 200px;
       margin: 0px 35%;
       padding: 7px;
       margin-bottom: 10px;
       border-radius: 12px;
}

.subjects {
    margin: 20px 20px;
    padding: 10px 10px;
    width: 300px;
    color: black;
    border-radius: 10px;
}

.box p {
    background-color: navajowhite;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 10vh;
    text-align: center;
    height: 45px;
}

.submit {
    border: 2px solid gray;
    padding: 2px 2px;
}